# Xcode
*.xcodeproj/
!*.xcodeproj/project.xcworkspace/xcshareddata/
xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Claude
.claude/
